<div class="generalViews">
<div class="viewProducts">
    <div class="imageDetail">
        <img class="detail" src="{{image}}" alt="">
    </div>

    <div class="properties">
        <div class="properties__title">{{mainName}}</div>
        <div class="properties__subtitle">Se entrega recien preparado</div>
        <div class="properties__price">${{price}}</div>
        <div class="methodsOfPay">
            <img src="" alt="" class="money">
            <p class="pay">Paga en efectivo</p>
        </div>
        <div class="methodsOfPay">
            <img src="" alt="" class="money">
            <p class="pay">Otro medio de pago</p>

        </div>

        <a class="makeAnOrder" href="">HACER PEDIDO</a>
 </div>
    </div>

    <div class="description__views">
        <p class="description__title">Descripción</p>
        <p class="description__content">{{description}}</p>

    </div>

    <div class="ingre__views">
        <p class="ingre__title">Ingredientes</p>
        <p class="ingre__content">{{ingredients}}</p>

    </div>


   
    </div>











</div>